.navbar_header {
  background-color: #9BA4B5;
  color: #fff;
  
  width: 100%;
  height: 70px; /* Decreased size */
  position: fixed;
  font-family: Arial, sans-serif;
  text-align: right;
  top: 0;
  left: 0;
  z-index: 999; /* ensure navbar is on top of other elements */
}

nav li {
  /* display: initial-block; */
  margin-right: 20px; /* Decreased margin */
  font-size: 20px; /* Decreased font size */
}

nav li a {
  color: #100c0c;
  text-decoration: none;
  margin-left: 350px;
  
}

#navbar-logo {
  max-width: 100%;
  /* border-radius: 50%; */
  width: 50px; /* Decreased width */
  height: 50px; /* Decreased height */
  object-fit: cover;
  margin-top: -13px;
  margin-right: 400px;
  vertical-align: middle; /* Move the logo up by aligning it vertically */
  background-color: transparent; /* Remove the background color */
  border: 1px black; /* Remove the border */
  border-radius: 3px;
  
}


h4 {
  color: black;
  font-size: 14px; /* Decreased font size */
}

li {
  width: 60%;
  text-align: center;
  margin-left: 20px;
  /* border-radius: 10px; */
  border: 0px solid #007bff;
  padding: 0px;
  color: rgb(13, 10, 10);
  list-style-type: none;
 
  /* cursor: pointer; */
  /* margin-top: 10px; */
}
.nag {
  /* CSS styles for the '.nag' class */
  /* Example styles */
  float: left;
  margin-right: 30px;
}

.mani {
  /* CSS styles for the '.mani' class */
  /* Example styles */
  float: left;
  margin-right: 10px;
  margin-left: 20px;
}

/* Additional styles for the FontAwesome icons */
/* Example styles */
.faHouse,
.faBackward {
  /* CSS styles for the FontAwesome icons */
  /* Example styles */
  float: left;
  margin-right: 5px;
}

/* nav li {
  margin-right: 20px;
  margin-top: -20px;
  margin-left: 10px;
} */
