.container {
  max-width: 530px;
  /* margin: 95px auto;
  margin-right: 20px;
  margin-top: -500px; */
  margin: 0;
    /* margin-top: 200px;
    margin-right: 100px;
    margin-bottom: 200px;
    margin-left: 300px; */
  
 
  padding: 37px;
  background-color: #F1F6F9;
  color: #161616;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
}

.input-wrapper {
  display: block;
  margin-bottom: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

input[type="text"] {
  width: 95%;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #090909;
  border-radius: 8px;
}

.remove {
  margin-left: 10px;
}

.addfield {
  margin-top: 10px;
}

.final {
  margin-top: 10px;
}
.addfield,
.final {
  padding: 15px 20px;
  background-color: #9DB2BF;
  color: rgb(13, 10, 10);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.remove{
  padding: 10px 20px;
  background-color:  #9DB2BF;
  color: rgb(44, 43, 43);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.addfield:hover,
.final:hover {
  background-color: #686a6c;
}
.remove:hover{
  background-color: #27374D;

}
.addfield:focus,
.remove:focus,
.final:focus {
  outline: none;
}

ul {
  display: flex;
  justify-content: stretch;
  margin: 20;
  border-radius: 10px;
  
  padding: 0;
}

li {
  width: 60%;
  text-align: center;
  border-radius: 10px;
  border: 5px solid  #007bff;
  padding: 20px;
  color:rgb(13, 10, 10);
  list-style-type: none;
  cursor: pointer;
  margin-top: 10px;

  
}
a {
  text-decoration: none;
  color: rgb(13, 10, 10);
  
  font-size: 15px;
  margin-right: 10px;
  margin-left: -20px;   
}
form{
  text-decoration: none;
  color: rgb(13, 10, 10);
  border: 2px solid #050505;
  border-radius: 8px;
  font-size: 15px;
  /* margin-right: 10px;
  margin-left: -40px;  */
  margin: 0;

}
excel{
  text-decoration: none;
  color: rgb(13, 10, 10);
  border: 2px solid #050505;
  border-radius: 8px;
  font-size: 15px;
  margin-right: 10px;
  margin-left: -40px; 
}
profile{
  margin-top: 150px;
  margin-bottom: 60px;
  
}
img{
  /* margin-top: 600px;
  margin-right: 120px;
  margin-left: 100px;
  border-radius: 15px; */
  /* margin: 0px;
    margin-top: 200px;
    margin-right: 100px;
    margin-bottom: 200px;
    margin-left: 0px; */
}

.profile{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 70px;
  /* height:100vh; */
}
.iiit-img{
  border: 3px solid #020202;
  border-radius: 30px;
  height: 410px;
  width: 600px;
}
.page{
  height: 100vh;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  max-height: 100vh;
  /* background-image: linear-gradient(120deg,#53acca,#017597,#013242,#02212f); */
  /* position: fixed; */
  background-image: linear-gradient(#A5D7E8,#19376D);
  position: fixed;
  
}
.rcts{
  text-align: center;
  margin-top: -60px;
  margin-bottom: 20px;
  font-size: 80px;
  color: #fff
  

}

select {
  padding: 8px;
  border-radius: 8px;
  margin-top: 2px;

}